body{
  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
    margin: 0 0 .75rem;
    padding: .75rem;
    display: inline-block;
   vertical-align: top;
  }
}

.main{
  margin: 0 auto;
  max-width: 1270px;
}


