body{
  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: $black;
}

h1{
  color: $light-grey;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  li{
    list-style-type: none;
    margin: 0 0 1rem;
  }
}

.main{
  margin: 1.5rem auto;
  max-width: 1270px;
}


.no-results{
  background-color: $dark-red;
  padding: 1rem;
  color: $white;
}